---
import { HiExternalLink, HiLockClosed } from 'react-icons/hi/index.js';
import Container from './Container.astro';

const token = import.meta.env.GITHUB_TOKEN;
const url = 'https://api.github.com/graphql';
const body = JSON.stringify({
	query: `{
					  user(login: "raymondkneipp") {
    					pinnedItems(first: 6, types: [REPOSITORY, GIST]) {
      					edges {
        					node {
          					... on Repository {
            					name
            					createdAt
            					repositoryTopics(first: 20) {
              					nodes {
                					topic {
                  					name
                					}
              					}
            					}
            					description
            					homepageUrl
            					url
            					openGraphImageUrl
          					}
        					}
      					}
    					}
  					}
					}`,
});

const headers = {
	Authorization: `bearer ${token}`,
	'Content-Type': 'application/json',
};
const res = await fetch(url, {
	body,
	headers,
	method: 'POST',
});
const data = await res.json();
const projects = data.data.user.pinnedItems.edges;
---

<Container>
	<section class="py-24 space-y-6" id="website-projects">
		<h2 class="text-4xl text-neutral-100 font-heading">My Projects</h2>

		<div class="grid lg:grid-cols-2 gap-12">
			<div class="space-y-3">
				<a
					href="https://alpost.org"
					target="_blank"
					class="text-neutral-400 hover:text-neutral-100 transition select-all"
				>
					<img
						src="/alpost.png"
						alt={`screenshot of alpost`}
						class="rounded-2xl"
					/>
				</a>
				<div>
					<div class="flex items-center gap-3 justify-between">
						<h3 class="text-2xl text-neutral-100 capitalize font-heading">
							Alpost
						</h3>
						<span class="text-neutral-400 text-sm">May 2022</span>
					</div>
					<a
						href="https://alpost.org"
						target="_blank"
						class="text-neutral-400 hover:text-neutral-100 transition select-all"
						>alpost.org</a
					>
				</div>
				<p class="text-neutral-300">
					Feature-rich and easy-to-use online website builder that allows the
					creation of a web presence for American Legion Posts using
					multi-tenant architecture.
				</p>

				<div
					class="cursor-not-allowed text-neutral-400 flex gap-1 items-center justify-start"
				>
					<HiLockClosed />
					<span>This is a private repository</span>
				</div>

				<div class="flex items-center flex-wrap gap-3">
					{
						[
							'typescript',
							'react',
							'nextjs',
							'react-query',
							'tRPC',
							'react-hook-form',
							'prisma',
							'zod',
							'sendgrid',
							'headlessui',
							'next-auth',
							'stripe',
						].map((item) => (
							<a
								href={`https://github.com/topics/${item}`}
								class="text-sm bg-neutral-800 text-neutral-400 rounded-full py-1 px-2 hover:text-white transition"
							>
								{item}
							</a>
						))
					}
				</div>
			</div>

			{
				projects.map((project) => {
					const {
						name,
						createdAt,
						repositoryTopics,
						description,
						homepageUrl,
						url,
						openGraphImageUrl,
					} = project.node;

					const topics = repositoryTopics.nodes;
					const date = `${new Date(createdAt).toLocaleString('default', {
						month: 'long',
						year: 'numeric',
					})}`;

					return (
						<div class="space-y-3">
							<a
								href={homepageUrl}
								target="_blank"
								class="text-neutral-400 hover:text-neutral-100 transition select-all"
							>
								<img
									src={openGraphImageUrl}
									alt={`screenshot of ${name}`}
									class="rounded-2xl"
								/>
							</a>
							<div>
								<div class="flex items-center gap-3 justify-between">
									<h3 class="text-2xl text-neutral-100 capitalize font-heading">
										{name}
									</h3>
									<span class="text-neutral-400 text-sm">{date}</span>
								</div>
								<a
									href={homepageUrl}
									target="_blank"
									class="text-neutral-400 hover:text-neutral-100 transition select-all"
								>
									{homepageUrl.replace(/^https?:\/\//, '').replace(/\/+$/, '')}
								</a>
							</div>
							<p class="text-neutral-300">{description}</p>

							<div>
								<a
									href={url}
									target="_blank"
									class="text-blue-400 hover:text-blue-300 transition flex gap-1 items-center justify-start"
								>
									<HiExternalLink />
									<span>View source code on GitHub</span>
								</a>
							</div>

							<div class="flex items-center flex-wrap gap-3">
								{topics.map((topic) => (
									<a
										href={`https://github.com/topics/${topic.topic.name}`}
										class="text-sm bg-neutral-800 text-neutral-400 rounded-full py-1 px-2 hover:text-white transition"
									>
										{topic.topic.name}
									</a>
								))}
							</div>
						</div>
					);
				})
			}
		</div>
	</section>
</Container>
