---
import {Img} from "astro-imagetools/components";
import Container from '@components/Container.astro';
import Layout from '@layouts/Layout.astro';

const { content } = Astro.props;
---

<Layout title={content.title}>
	<Container>
		<article class='space-y-6 max-w-prose mx-auto py-24'>
			<div class="h-56 md:h-80 rounded-2xl overflow-hidden">
				<Img src={content.image} alt={content.title} layout="fill" />
			</div>
			<h1 class='text-zinc-100 text-5xl font-bold'>{content.title}</h1>

			<div class='flex items-center space-x-3'>
				<div class="h-14 w-14 rounded-full bg-zinc-100">
					<Img
						placeholder="none"
						alt={`${content.author} portrait`}
						src={content.avatar}
					/>
				</div>
				<div class='space-y-1'>
					<h2 class='font-bold text-zinc-100'>
						Written by {content.author}
					</h2>
					<p class='text-zinc-400'>
						Published on {content.date}
					</p>
				</div>
			</div>
			<div class='h-px bg-zinc-800'></div>
			<div class='prose prose-invert'>
				<slot></slot>
			</div>
		</article>
	</Container>
</Layout>
